body {
    padding: 20px;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

.botaoRadio {
    margin-right: 10px;
}

td.atributo {
    font-weight: bold;
}

.tituloResultado {
    width: 218px;
}